# Analysis of route contamination with $^{137}Cs$ and exposure of workers to radiation

In [20]:
import numpy as np
import pandas as pd
import math
pd.options.mode.chained_assignment = None

data = pd.read_csv('Data_6-7.xlsx - 6-7_5-15.csv')
data.head()

,Stage,UG,Point,B,L,Y_1m_1,Y_1m_2,Y_1m_3,Y_1m_4,Y_1m_5,...,Soil_15_20,Wood,Y_1m,Y_3cm,формация,тип,возраст,запас,"ПЗ, кБк/м2","ПЗ, Ки/км2"
0,6,Уг71,116.23,53.238810,30.774032,116.0,119.0,121.0,117.0,107.0,...,NaN,NaN,0.116,0.1424,поле,NaN,NaN,NaN,3.0,0.1
1,6,NaN,116.30,53.239276,30.774726,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN,NaN,NaN,NaN,NaN
2,6,NaN,116.40,53.239943,30.775717,109.0,141.0,135.0,127.0,134.0,...,NaN,NaN,0.1292,0.1524,NaN,NaN,NaN,NaN,NaN,NaN
3,6,NaN,116.50,53.240610,30.776709,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN,NaN,NaN,NaN,NaN
4,6,NaN,116.60,53.241277,30.777701,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,#DIV/0!,#DIV/0!,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# averaging dose rate from 5 dots
# dose rate on 1 m
data['med_1'] = (data.Y_1m_1+data.Y_1m_2 + data.Y_1m_3 + data.Y_1m_4 + data.Y_1m_5)/5
data['med_1_sd'] = (((data.med_1 - data.Y_1m_1)**2 + 
                     (data.med_1 - data.Y_1m_2)**2 + 
                     (data.med_1 - data.Y_1m_3)**2 + 
                     (data.med_1 - data.Y_1m_4)**2 + 
                     (data.med_1 - data.Y_1m_5)**2)/4)**0.5
# dose rate on surface
data['med_003'] = (data.Y_3cm_1+data.Y_3cm_2 + data.Y_3cm_3 + data.Y_3cm_4 + data.Y_3cm_5)/5
data['med_003_sd'] = (((data.med_1 - data.Y_3cm_1)**2 + 
                       (data.med_1 - data.Y_3cm_2)**2 + 
                       (data.med_1 - data.Y_3cm_3)**2 + 
                       (data.med_1 - data.Y_3cm_4)**2 + 
                       (data.med_1 - data.Y_3cm_5)**2)/4)**0.5
# remove points without measuring
datag = data.dropna(subset=['med_1'])
# convert from nSv/h to mkSv/h
datag[['med_1', 'med_1_sd', 'med_003', 'med_003_sd']] = datag[['med_1', 'med_1_sd', 'med_003', 'med_003_sd']]/1000
datag.loc[:, ['Point', 'med_1', 'med_1_sd', 'med_003', 'med_003_sd']].round(3)

      Point  med_1  med_1_sd  med_003  med_003_sd
0    116.23  0.116     0.005    0.142       0.030
2    116.40  0.129     0.012    0.152       0.037
9    117.10  0.190     0.020    0.234       0.051
10   117.20  0.149     0.009    0.175       0.032
11   117.30  0.153     0.011    0.167       0.018
..      ...    ...       ...      ...         ...
308     NaN  0.151     0.023    0.165       0.041
309     NaN  0.143     0.012    0.176       0.038
313     NaN  0.156     0.013    0.179       0.027
315     NaN  0.176     0.013      NaN         NaN
319     NaN  0.153     0.045    0.177       0.058

[126 rows x 5 columns]

In [24]:
# calculating surface density contamination from activity concentration of the radioisotope in soil samples
datag['ПЗ, кБк/м2'] = 0.001*(datag['SA_Soil, Bq/kg']*(datag['M_soil, g']/1000))/((5*math.pi*0.04**2)/4)
datag['ПЗ, Ки/км2'] = 1000**2 * datag['ПЗ, кБк/м2'] / (3.7 * 10**7)
datag.loc[~datag['ПЗ, кБк/м2'].isna(), ['Point', 'ПЗ, кБк/м2', 'ПЗ, Ки/км2']].round(1)

     Point  ПЗ, кБк/м2  ПЗ, Ки/км2
0    116.2       117.2         3.2
2    116.4       139.3         3.8
9    117.1       192.3         5.2
11   117.3       138.4         3.7
19   118.1       152.5         4.1
..     ...         ...         ...
302    NaN        55.6         1.5
303    NaN        65.0         1.8
307    NaN        83.9         2.3
309    NaN       118.1         3.2
319    NaN       147.1         4.0

[79 rows x 3 columns]

In [25]:
import geopandas as gpd
import geoplot as gpl
from matplotlib import pyplot as plt
from shapely.geometry import Point, LineString
import contextily as ctx

# creating geodata
geometry = [Point(xy) for xy in zip(datag.L, datag.B)]
gdata3 = gpd.GeoDataFrame(datag, crs={'init': 'epsg:4326'}, geometry=geometry)
gdata3.head()

,Stage,UG,Point,B,L,Y_1m_1,Y_1m_2,Y_1m_3,Y_1m_4,Y_1m_5,...,тип,возраст,запас,"ПЗ, кБк/м2","ПЗ, Ки/км2",med_1,med_1_sd,med_003,med_003_sd,geometry
0,6,Уг71,116.23,53.238810,30.774032,116.0,119.0,121.0,117.0,107.0,...,NaN,NaN,NaN,117.161593,3.166530,0.1160,0.005385,0.1424,0.030100,POINT (30.77403 53.23881)
2,6,NaN,116.40,53.239943,30.775717,109.0,141.0,135.0,127.0,134.0,...,NaN,NaN,NaN,139.268055,3.764001,0.1292,0.012337,0.1524,0.037284,POINT (30.77572 53.23994)
9,6,NaN,117.10,53.244611,30.782659,164.0,176.0,215.0,198.0,199.0,...,NaN,NaN,NaN,192.273177,5.196572,0.1904,0.020256,0.2340,0.051115,POINT (30.78266 53.24461)
10,6,NaN,117.20,53.245278,30.783651,141.0,152.0,158.0,155.0,139.0,...,NaN,NaN,NaN,NaN,NaN,0.1490,0.008515,0.1754,0.032427,POINT (30.78365 53.24528)
11,6,NaN,117.30,53.245944,30.784643,171.0,146.0,144.0,149.0,153.0,...,NaN,NaN,NaN,138.446657,3.741802,0.1526,0.010831,0.1672,0.018307,POINT (30.78464 53.24594)

In [ ]:
ax = gdata3.plot(column='med_1', alpha=0.9, figsize=(18,13), 
                 legend=True, linewidth=10, cmap='OrRd', vmax=1, 
                 legend_kwds={'orientation': "horizontal"})

# creating labels for corner points
tgdata = data.dropna(subset=['UG'])
geom0 = [Point(xy) for xy in zip(tgdata.L, tgdata.B)]
tgdata = gpd.GeoDataFrame(tgdata, crs={'init': 'epsg:4326'}, geometry=geom0)
for idx, row in tgdata.iterrows():
  if (row['UG'][:2] == 'Уг') or (row['UG'][:3] == 'скз'):
    ax.text(row.geometry.x, row.geometry.y, s=row['UG'], fontsize=12)

# creating lines between corner points
trace = tgdata[tgdata['UG'].apply(lambda x: x[:2]) == 'Уг']['geometry'].array
trace = LineString(trace)
trace = gpd.GeoDataFrame(['trace'], crs={'init': 'epsg:4326'}, geometry=[trace])
gtrace = gdata3[gdata3['Point'] > 0]
gtrace['B_b'] = None
gtrace['B_b'][1:] = gtrace['B'][:-1]
gtrace['L_b'] = None
gtrace['L_b'][1:] = gtrace['L'][:-1]
# the variable will contain avarage dose rate in segment between two points
gtrace['med_max'] = None
gtrace['med_max'][1:] = gtrace['med_1'][:-1]
gtrace = gtrace[1:]
gtrace['med_max'] = gtrace.apply(lambda x: np.mean([x.med_max, x.med_1]), axis=1)
geometry2 = [LineString([xy[:2],xy[2:]]) for xy in zip(gtrace.L, gtrace.B, gtrace.L_b, gtrace.B_b)]

# geodata with average dose rates on segments
hazard_trace = gpd.GeoDataFrame(gtrace, crs={'init': 'epsg:4326'}, geometry=geometry2)
trace.plot(ax=ax)
# plot segments with doserate > 0.25 mkSv/h
hazard_trace25 = hazard_trace[gtrace['med_max'] > 0.25]
hazard_trace25.plot(ax=ax, color='yellow', linewidth=5, alpha=0.6, label=">0,25 мкЗв/час")
hazard_trace25['geometry'] = hazard_trace25['geometry'].to_crs(epsg=28406)
# plot segments with doserate > 0.35 mkSv/h
hazard_trace35 = hazard_trace[gtrace['med_max'] > 0.35]
hazard_trace35.plot(ax=ax, color='lightsalmon', linewidth=6, alpha=0.7, label=">0,35 мкЗв/час")
hazard_trace35['geometry'] = hazard_trace35['geometry'].to_crs(epsg=28406)
# plot segments with doserate > 0.45 mkSv/h
hazard_trace45 = hazard_trace[gtrace['med_max'] > 0.45]
hazard_trace45.plot(ax=ax, color='red', linewidth=7, alpha=0.8, label=">0,45 мкЗв/час")
hazard_trace45['geometry'] = hazard_trace45['geometry'].to_crs(epsg=28406)
plt.legend(fontsize=13)
lenghts = {'> 0.25': hazard_trace25['geometry'].length.sum().round(), 
           '> 0.35': hazard_trace35['geometry'].length.sum().round(), 
           '> 0.45': hazard_trace45['geometry'].length.sum().round()}
ctx.add_basemap(ax, crs=gdata3.crs, zoom=18, url=ctx.sources.OSM_A)
plt.tight_layout()
plt.show()

8092.757729232985
6096.715058406281
4368.371758944966